body
{
    background-color: bisque;
}
h1
{
color: black;
}
h2
{
    text-align: center;
    color: black;
}
img
{
   width: 8cm; height: 8cm;
    border: width 5px;
    border-style: groove;
    text-align: center;
}